<h3>Proyectos</h3>
<button class="btn" *ngIf="isLogged"><i class="fa-solid fa-square-plus" [routerLink]="'agreproyecto'"></i></button>

<div *ngFor="let proyec of proyecto">
  <button class="btn" *ngIf="isLogged"><i class="fa-solid fa-pen" [routerLink]="'editproyecto/' + proyec.id"></i></button>
  <button class="btn" *ngIf="isLogged"><i class="fa-solid fa-trash-can" (click)="delete(proyec.id)"></i></button>

  <div class="d-flex align-items-center">
    <div class="flex-shrink-0">
      <img src="{{ proyec.urlFoto }}" width="300" height="300" alt="{{ proyec.nombre }}">
    </div>
    <div class="flex-grow-1 ms-3">
      {{ proyec.descripcion }}
    </div>
  </div>
</div>