<section id="idiomas">
<form [formGroup]="form" (ngSubmit)="onEnviar($event)">
    <input type="hidden" formControlName="id"  [ngModel]="idio.id" >
    <div>
      <label for="nombre">Nombre: </label>
      <input class="form-control"
        type="text"
        formControlName="nombre"
        [ngModel]="idio.nombre"
        [ngClass]="{'is-invalid': Nombre.errors && Nombre.touched, 'is-valid': !Nombre.errors && Nombre.touched}" 
      />
      
      <div *ngIf="Nombre.errors && Nombre.touched" class="invalid-feedback">
        <div *ngIf="Nombre.errors['required']">El Nombre es requerido</div>
      </div> 
    </div>

    <div>
      <label for="porcentajeDominado" class="form-label">Porcentaje Dominado: </label>
      <input class="form-control"
        type="number"
        formControlName="porcentajeDominado"
        [ngModel]="idio.porcentajeDominado"
        [ngClass]="{'is-invalid': PorcentajeDominado.errors && PorcentajeDominado.touched, 'is-valid': !PorcentajeDominado.errors && PorcentajeDominado.touched}" 
       />
       <div *ngIf="PorcentajeDominado.errors && PorcentajeDominado.touched" class="invalid-feedback">
        <div *ngIf="PorcentajeDominado.errors['required']">El Porcentaje Dominado es requerido</div>
      </div> 
    </div>
    
    <br />
    <div>
      <button type="submit">Guardar cambios</button>
    </div>
  </form>
</section>

