<section id="idiomas">
<h3>Idiomas y Tecnologias</h3>
<button class="btn"><i class="fa-solid fa-square-plus" routerLink="agreidioma"></i></button>

<div *ngFor="let idio of idioma">
<h5>{{idio.nombre}}</h5>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{idio.porcentajeDominado}}%" aria-valuenow="idio.porcentajeDominado" aria-valuemin="0" aria-valuemax="100">{{idio.porcentajeDominado}}%</div>
</div>
    <button class="btn"><i class="fa-solid fa-pen" routerLink="editidioma/{{idio.id}}"></i></button>
    <button class="btn"><i class="fa-solid fa-trash-can" (click)="delete(idio.id)" ></i></button>
</div>
</section>